#images {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    z-index: -1;
    background-position: center center;
}


/* #canvas1
{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 background: images;

 }
 */

canvas {
    z-index: 999;
}

.text {
    text-align: center;
    color: black;
    background: rgba(99, 99, 99, .5);
    font-size: 30px;
    width: 100%;
    top: 130px;
    position: absolute;
    margin: 0 auto;
    display: block;
    z-index: 100;
}